.custom-navbar {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  .flex-1-only {
    flex: 1 1;
    font-size: 15px;
  }
  .nav-brand {
    flex: none;
    .logo {
      height: 32px;
    }
  }
}

.order-container {
  section {
    padding: 40px 10vw;
    min-height: 95vh;

    display: flex;
    flex-direction: column;

    background-color: #f6f6f4;
  }

  // bootstrap override
  .form-check-inline {
    padding-left: 5px;
  }

  .line-separator {
    border: 1px solid #0000004f;
  }

  .products {
    padding: 10px 0;
  }

  .subtotal {
    padding: 10px 0;
  }

  .total {
    padding: 10px 0;
  }

  .bold-title {
    font-size: 18px;
    font-weight: bold;
  }

  .order-form {
    padding: 10px 0;
  }

  .btn-next {
    margin-top: 20px;
  }
}
