.content {
  background-color: #f6f6f4;
  padding: 40px 10vw;
  min-height: 95vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.product-card {
  margin: 16px;

  .quantity {
    line-height: 2rem;
    width: 2rem;
  }
}