@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

.company-name {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 100%;
    max-width: 647px;
    height: auto;
  }

  .slogan {
    margin-top: 10px;
  }
}

.grid-img {
  width: 100%;
  padding-top: 32px;
}

.pictures-section {
  padding-bottom: 50px;
}

.instagram-icon {
  max-width: 60px;
}

.app-container {
  .jumbotron {
    background-color: white;
  }

  .app-header {
    display: flex;
    justify-content: center;
    width: 100%;

    .reason {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  section {
    padding: 40px 20vw;
    min-height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-of-type(odd) {
      background-color: #f6f6f4;
    }

    .section-title {
      font-size: 30px;
    }
    .instructions {
      margin-top: 16px;
      font-style: italic;
    }
    .message {
      margin-top: 8px;
      background-color: #8080804a;
      padding: 32px;
      .message-line {
        margin-top: 4px;
        font-weight: bold;
        span {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }

  .btn-row {
    display: flex;
    justify-content: center;
  }
  .btn-order {
    border: 2px solid red;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 10px 5px;
  }

  footer {
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    background-color: #1e1e1e;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    color: white;
    display: flex;
    align-items: center;

    .footer-item {
      margin-right: 10px;

      &:last-of-type {
        margin: 0;
      }
    }

    .placeholder-logo {
      border-radius: 60px;
      padding: 15px;
      color: white;
      background-color: saddlebrown;
    }
  }
}
